## Chapter Three Results

### <font color='green'>Application: Find a holiday</font>




<div style="background-color:LightGray;
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1.   Import and if necessary install holidays
2.   Assign USA with dot notation.
3.   Use list comprehension with items() method abd condition for values

In [2]:
# holidays not builtin, not builtin, install if  necessary with quiet flag (-q)
try:
    import holidays
except:
    !pip -q install holidays
    import holidays

In [ ]:
holidays_2029_2030_us=holidays.US(years=[2029,2030])

In [ ]:
columbus_days=[key for key,value in holidays_2029_2030_us.items() if value=='Columbus Day']
columbus_days

[datetime.date(2029, 10, 8), datetime.date(2030, 10, 14)]

### <font color='green'>Calculate Payment Date</font>




<div style="background-color:LightGray;
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1. Import and if necessary install modules
2. Create a dictionary of non settlement days for 2026 and 2028
3. Use while loop to check if dates are in non settlement dictionary or a weekend

In [1]:
from datetime import datetime, date, timedelta
try:
    from dateutil.easter import easter
except:
    !pip -q  install python-dateutil
    from datetutil.easter import easter

In [3]:
non_settlement_2026_2028_us=holidays.US(years=[2026,2028])
non_settlement_2026_2028_us[easter(2026)-timedelta(days=2)]='Good Friday'
non_settlement_2026_2028_us[easter(2027)-timedelta(days=2)]='Good Friday'

In [4]:
july_4_2026=date(2026,7,4)
july_4_2028=date(2028,7,4)
for july_4 in (july_4_2026,july_4_2028):
  adjusted_date=july_4
  while adjusted_date.weekday()>4 or adjusted_date in non_settlement_2026_2028_us:
    adjusted_date+=timedelta(days=1)
    if adjusted_date.year not in non_settlement_2026_2028_us:
      non_settlement_2026_2028_us.update(years=date.years)
  display(adjusted_date)

datetime.date(2026, 7, 6)

datetime.date(2028, 7, 5)

## <font color='green'>Application: Calculate Payment Dates And Day Of The Week For Five Scheduled Payment Dates</font>



:

<div style="background-color:LightGray;
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>





*   Create a non-settlement dictionary for 2027, 2028, 2029, and 2030
*   Import <font color='green'>adjust_bond_pay_date</font> from *basic_concepts_of_fixed_income* module.
*   Import Pandas
*   From a list or other iterable of the scheduled payment dates, create a Pandas series.
*   Calculate payment dates by applying <font color='green'>adjust_bond_pay_date</font> to the Pandas series.
*   Calculate days of the week by applying a lambda function <font color='green'>date_value.weekday()</font>

### non-settlement dictionry

In [11]:
scheduled_years=[year for year in range(2027,2031)]
non_settlement_2027_2030=holidays.US(years=scheduled_years)
for year in scheduled_years:
  non_settlement_2027_2030[easter(year)-timedelta(days=2)]='Good Friday'
good_fridays=[key for key,value in non_settlement_2027_2030.items() if value=='Good Friday']
good_fridays

[datetime.date(2027, 3, 26),
 datetime.date(2028, 4, 14),
 datetime.date(2029, 3, 30),
 datetime.date(2030, 4, 19)]

### import <font color='green'>adjust_bond_pay_dates</font> from *basic_concepts_of_fixed_income*

In [15]:
import requests, sys
from types import ModuleType
# Define the URL of the Python module to be downloaded from Dropbox.
# The 'dl=1' parameter in the URL forces a direct download of the file content.
url= 'https://www.dropbox.com/scl/fi/4y5hjxlfphh1ngvbgo77q/\
module_-basic_concepts_fixed_income.py?rlkey=6oxi7mgka42veaat79hcv8boz&st=87sztshr&dl=1'
module_name='basic_concepts_fixed_income'
# Send an HTTP GET request to the URL and store the server's response.
try:
  response=requests.get(url)
  # Raise an exception for bad status codes (like 404 Not Found)
  response.raise_for_status()
  module= ModuleType(module_name)
  #Code contained in response.text executed
  exec(response.text, module.__dict__)
  # Module added to sys
  sys.modules[module_name]=module
except requests.exceptions.RequestException as e:
    print(f"❌ Error: Could not fetch module from URL. {e}")
except Exception as e:
    print(f"❌ Error: Failed to execute or import the module. {e}")

# Now that 'basic_concepts_fixed_income' exists in the notebook, import the specific functions
from basic_concepts_fixed_income import (adjust_bond_pay_dates)

### create a Pandas series of scheduled payment dates

In [13]:
import pandas as pd
scheduled_payment_dates=[date(2028,10,9),date(2028,12,31),
                         date(2030,11,28),date(2027,10,10),
                         date(2029,2,18)]
scheduled_series=pd.Series(scheduled_payment_dates)
scheduled_series

0    2028-10-09
1    2028-12-31
2    2030-11-28
3    2027-10-10
4    2029-02-18
dtype: object

### calculate payments dates for <font color='green'>adjust_bond_pay_datess</font>

In [17]:
adjusted_series=scheduled_series.apply(adjust_bond_pay_dates)
adjusted_series

0    2028-10-10
1    2029-01-02
2    2030-11-29
3    2027-10-12
4    2029-02-20
dtype: object

### calculate day of the week with lambda function

In [18]:
day_week_series=scheduled_series.apply(lambda value: value.weekday())
day_week_series

0    0
1    6
2    3
3    6
4    6
dtype: int64

### Add Six Months To A Date


1.   Create the data object <font color='green'>jume_2025_last</font>
2.   Use <font color='green'>relativedelta</font>.to add six months.

### Calculate Number Of Days Between Dates


1.   Create the data objects <font color='green'>jume_2025_last</font> and <font color='green'>february_2028_last</font>
2.   Create the date object <font color='green'>date_diff</font> by subtracting <font color='green'>jume_2025_last</font> from <font color='green'>february_2028_last</font>
3. Display the <font color='green'>days</font> attribute of <font color='green'>date_diff</font>.

### Access Bonds With Specific Characteristics


1.   Create a list of date objects.
2.   After creatibng the DataFrame of 304 bonds, use a the loc attribute to create a DataFrme with maturity dates in the list of data objects.
3.  Use the loc attribute of the DataFrame mathcing maturitiesto select those bonds with coupoans greater than 3.5.

### Calculate Days Between Coupon Payment And Settlement Dates


1.   Create  date objects <font color='green'>last_coupon</font> and <font color='green'>settlement_date</font>
2.   Create the date object <font color='green'>date_diff</font> by subtracting <font color='green'>last_coupon</font> from <font color='green'>settlement_date</font>
3. Display the <font color='green'>days</font> attribute of <font color='green'>date_diff</font>.

### Calculate A Transaction Price


1.   Create  date objects <font color='green'>maturity_date</font> and <font color='green'>settlement_date</font>
2.   Pass date objects and coupon to <font color='green'>accrued_interest</font>
3.   Add accrued interest to clean price

### Create A Workbook


1.   Use the iloc attribute of the bond_data DataFrame to create a DataFrame with the first ten roww.
2.   Use the <font color='green'>create_workbook</font> to create an Excel workbook.

### Chapter Two Exercise


1.   Get fresh copy of bond_data from DropBox
1.   Use iloc to create the DataFrame <font color='green'>first_100_rows</font>
2.   Use the Pandas <font color='green'>apply</font> method to update the DataFrame with <font color='green'>accrured_interest function</font>.
3.   Create the Excel workbook <font color='green'>first_100_rows.xlsx</font>.