In [1]:
from datetime import date
vets_day_2025=date(2025,11,11)
year=vets_day_2025.year
month=vets_day_2025.month
day=vets_day_2025.day
display(f'Year Attribute {year} Month Attribute {month}  Day Attribute {day}')

'Year Attribute 2025 Month Attribute 11  Day Attribute 11'

In [2]:
import calendar
feb_2024=date(2024,2,14)
_,last=calendar.monthrange(2024,2)
display(f'Last day is February 2024 {last}')

'Last day is February 2024 29'

In [3]:
try:
    from dateutil.relativedelta import relativedelta
except:
    !pip install python-dateutil
    from dateutil.relativedelta import relativedelta
june_2025_last=date(2025,6,30)
delta_time=relativedelta(months=6)
display(f'June 30 3025 Plus Six Months {june_2025_last+delta_time}')

'June 30 3025 Plus Six Months 2025-12-30'

In [4]:
import pandas as pd
import requests
url='https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/\
bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1'
bond_data = pd.read_excel(url, index_col='Maturity Date',sheet_name='Fidelity Data')
bond_data_index=bond_data.index.date
date_list=[date(2025,4,30),date(2025,10,31)]
bond_data_maturities=bond_data.loc[date_list]
display(bond_data_maturities)
coupon_loc=[bond_data_maturities['Coupon']> 3.5]
display(coupon_loc)
display(bond_data_maturities[bond_data_maturities['Coupon']> 3.5])

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size
Maturity Date,,,,,,
2025-04-30,UNITED STATES TREAS SER BA-2025 3.8750...,3.875,99.863,99.880,60000.0,60000.0
2025-04-30,UNITED STATES TREAS SER Y-2025 0.3750...,0.375,98.941,98.962,60000.0,60000.0
2025-04-30,UNITED STATES TREAS SER K-2025 2.8750...,2.875,99.617,99.633,10000.0,10000.0
2025-10-31,UNITED STATES TREAS 0.25000% 10/31/2025 NOTE,0.250,96.974,96.997,8000.0,8000.0
2025-10-31,UNITED STATES TREAS SER BJ-2025 5.0000...,5.000,100.539,100.559,10000.0,10000.0
2025-10-31,UNITED STATES TREAS SER R-2025 3.0000...,3.000,99.041,99.067,40000.0,40000.0

[Maturity Date
 2025-04-30     True
 2025-04-30    False
 2025-04-30    False
 2025-10-31    False
 2025-10-31     True
 2025-10-31    False
 Name: Coupon, dtype: bool]

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size
Maturity Date,,,,,,
2025-04-30,UNITED STATES TREAS SER BA-2025 3.8750...,3.875,99.863,99.880,60000.0,60000.0
2025-10-31,UNITED STATES TREAS SER BJ-2025 5.0000...,5.000,100.539,100.559,10000.0,10000.0

In [5]:
from datetime import date
import os
import sys
import requests
from types import ModuleType
try:
    from dateutil.relativedelta import relativedelta
except:
    !pip -q install python-dateutil

In [6]:
# Define the URL of the Python module to be downloaded from Dropbox.
# The 'dl=1' parameter in the URL forces a direct download of the file content.
url= 'https://www.dropbox.com/scl/fi/4y5hjxlfphh1ngvbgo77q/\
module_-basic_concepts_fixed_income.py?rlkey=6oxi7mgka42veaat79hcv8boz&st=87sztshr&dl=1'
module_name='basic_concepts_fixed_income'
# Send an HTTP GET request to the URL and store the server's response.
try:
  response=requests.get(url)
  # Raise an exception for bad status codes (like 404 Not Found)
  response.raise_for_status()
  module= ModuleType(module_name)
  #Code contained in response.text executed
  exec(response.text, module.__dict__)
  # Module added to sys
  sys.modules[module_name]=module
except requests.exceptions.RequestException as e:
    print(f"❌ Error: Could not fetch module from URL. {e}")
except Exception as e:
    print(f"❌ Error: Failed to execute or import the module. {e}")

# Now that 'basic_concepts_fixed_income' exists in the notebook, import the specific functions
from basic_concepts_fixed_income import(scheduled_pay_dates)

In [7]:
maturity=date(2030,1,15)
settlement=date(2024,5,1)
freq=12//6
pay_dates = scheduled_pay_dates(maturity, settlement=settlement, freq=freq)
pay_dates.sort()
next_coupon = None
for d in pay_dates:
    if d >= settlement:
        next_coupon = d
        break
# not a month end
num_months = int(12 // freq)
prev_coupon=next_coupon-relativedelta(months=num_months)
days_since=(settlement-prev_coupon).days
days_between=(next_coupon-prev_coupon).days
display(f'Days Since Last {days_since}  Days Between {days_between}')

'Days Since Last 107  Days Between 182'

In [8]:
from basic_concepts_fixed_income import(accrued_interest)
maturity_date=date(2030,1,15)
coupon=5
settlement_date=date(2024,5,1)
accrued=accrued_interest(maturity_date,coupon,settlement=settlement_date)
display(f'Clean Price {95} Accrued Interest {accrued: .3f} Dirty Price {95+accrued: .3f}')

'Clean Price 95 Accrued Interest  1.470 Dirty Price  96.470'

In [9]:
from basic_concepts_fixed_income import(create_workbook)
first_ten_rows=bond_data.iloc[:10]
create_workbook('Ten Rows Of Data',first_ten_rows)

### ***✅ Successfully wrote and formatted sheet Ten Rows Of Data in output.xlsx***

In [10]:
import pandas as pd
import requests
save_config={}
save_config['file_name']='first_100_rows.xlsx'
url='https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/\
bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1'
bond_data = pd.read_excel(url, index_col='Maturity Date',sheet_name='Fidelity Data')
first_100_rows=bond_data.iloc[:100].copy()
first_100_rows['Accrued'] = first_100_rows.apply(
    lambda row: accrued_interest(
        maturity=row.name,      # The row's index label (maturity date) is accessed via .name
        coupon=row['Coupon'],   # Access the 'Coupon' value from the row
        settlement=settlement_date   # Use the globally defined settlement date
    ), axis=1)

create_workbook('First Sheet',first_100_rows,save_config=save_config)

### ***✅ Successfully wrote and formatted sheet First Sheet in first_100_rows.xlsx***