## Chapter Two Expected Results

### <font color='green'>Create A Date</font>




<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1.   Create the date object <font color='green'>vets_day_2025</font>.
2.   Use dot notation to access the attributes.
3.   Display results as an f string.

In [1]:
from datetime import date
vets_day_2025=date(2025,11,11)
year=vets_day_2025.year
month=vets_day_2025.month
day=vets_day_2025.day
display(f'Year Attribute {year} Month Attribute {month}  Day Attribute {day}')

'Year Attribute 2025 Month Attribute 11  Day Attribute 11'

### <font color='green'>Get The Last Day Of The Month</font>




<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1.   Create the date object <font color='green'>created_date</font>.
2.   Use dot notation to access the attributes.
3.   Display results as an f string.

In [2]:
import calendar
feb_2024=date(2024,2,14)
_,last=calendar.monthrange(2024,2)
display(f'Last day is February 2024 {last}')

'Last day is February 2024 29'

### <font color='green'>Add Six Months To A Date</font>




<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>



1.   Create the data object <font color='green'>june_2025_last</font>
2.   Use <font color='green'>relativedelta</font>.to add six months.

In [3]:
try:
    from dateutil.relativedelta import relativedelta
except:
    !pip install python-dateutil
    from dateutil.relativedelta import relativedelta
june_2025_last=date(2025,6,30)
delta_time=relativedelta(months=6)
display(f'June 30 3025 Plus Six Months {june_2025_last+delta_time}')

'June 30 3025 Plus Six Months 2025-12-30'

### <font color='green'>Access Bonds With Specific Characteristics</font>




<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1. Assume that 'Matrity Date' column is a Pandas Timestamp equivalent to datetime object.
2. Convert the datetime object to a date object
3. After creating the DataFrame of 304 bonds, use the loc attribute to create a DataFrame with maturity dates in the list of data objects.
4.  Use the loc attribute of the DataFrame matching maturities to select those bonds with coupons greater than 3.5.

In [4]:
import pandas as pd
import requests
url='https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/\
bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1'
bond_data = pd.read_excel(url, index_col='Maturity Date',sheet_name='Fidelity Data')
bond_data_index=bond_data.index.date
date_list=[date(2025,4,30),date(2025,10,31)]
bond_data_maturities=bond_data.loc[date_list]
display(bond_data_maturities)
coupon_loc=[bond_data_maturities['Coupon']> 3.5]
display(coupon_loc)
display(bond_data_maturities[bond_data_maturities['Coupon']> 3.5])

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size
Maturity Date,,,,,,
2025-04-30,UNITED STATES TREAS SER BA-2025 3.8750...,3.875,99.863,99.880,60000.0,60000.0
2025-04-30,UNITED STATES TREAS SER Y-2025 0.3750...,0.375,98.941,98.962,60000.0,60000.0
2025-04-30,UNITED STATES TREAS SER K-2025 2.8750...,2.875,99.617,99.633,10000.0,10000.0
2025-10-31,UNITED STATES TREAS 0.25000% 10/31/2025 NOTE,0.250,96.974,96.997,8000.0,8000.0
2025-10-31,UNITED STATES TREAS SER BJ-2025 5.0000...,5.000,100.539,100.559,10000.0,10000.0
2025-10-31,UNITED STATES TREAS SER R-2025 3.0000...,3.000,99.041,99.067,40000.0,40000.0

[Maturity Date
 2025-04-30     True
 2025-04-30    False
 2025-04-30    False
 2025-10-31    False
 2025-10-31     True
 2025-10-31    False
 Name: Coupon, dtype: bool]

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size
Maturity Date,,,,,,
2025-04-30,UNITED STATES TREAS SER BA-2025 3.8750...,3.875,99.863,99.880,60000.0,60000.0
2025-10-31,UNITED STATES TREAS SER BJ-2025 5.0000...,5.000,100.539,100.559,10000.0,10000.0

### <font color='green'>Calculate Days For Accrued Interst</font>


<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>




1.   Create  date objects <font color='green'>last_coupon</font> and <font color='green'>settlement_date</font>
2.   Create the date object <font color='green'>date_diff</font> by subtracting <font color='green'>last_coupon</font> from <font color='green'>settlement_date</font>
3. Display the <font color='green'>days</font> attribute of <font color='green'>date_diff</font>.

In [5]:
maturity_date=date(2030,1,15)
settlement_date=date(2024,5,1)
_,last_day=calendar.monthrange(maturity_date.year,maturity_date.month)
isLast=maturity_date.day==last_day
last_coupon=date(settlement_date.year,maturity_date.month,maturity_date.day)
next_coupon=last_coupon+relativedelta(months=6)
if isLast:
  next_coupon=date(next_coupon.year,next_coupon.monht,last)
time_since=settlement_date-last_coupon
time_between=next_coupon-last_coupon
display(f'Days Since {time_since.days} Days Between {time_between.days}')

'Days Since 107 Days Between 182'

### <font color='green'>Calculate A Transaction Price</font>




<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1.   Create  date objects <font color='green'>maturity_date</font> and <font color='green'>settlement_date</font>
2.   Pass date objects and coupon to <font color='green'>accrued_interest</font>
3.   Add accrued interest to clean price

In [6]:
import sys
from types import ModuleType
# Define the URL of the Python module to be downloaded from Dropbox.
# The 'dl=1' parameter in the URL forces a direct download of the file content.
url= 'https://www.dropbox.com/scl/fi/4y5hjxlfphh1ngvbgo77q/\
module_-basic_concepts_fixed_income.py?rlkey=6oxi7mgka42veaat79hcv8boz&st=87sztshr&dl=1'
module_name='basic_concepts_fixed_income'
# Send an HTTP GET request to the URL and store the server's response.
try:
  response=requests.get(url)
  # Raise an exception for bad status codes (like 404 Not Found)
  response.raise_for_status()
  module= ModuleType(module_name)
  #Code contained in response.text executed
  exec(response.text, module.__dict__)
  # Module added to sys
  sys.modules[module_name]=module
except requests.exceptions.RequestException as e:
    print(f"❌ Error: Could not fetch module from URL. {e}")
except Exception as e:
    print(f"❌ Error: Failed to execute or import the module. {e}")

# Now that 'basic_concepts_fixed_income' exists in the notebook, import the specific functions
from basic_concepts_fixed_income import(create_workbook,
                                        accrued_interest)
maturity_date=date(2030,1,15)
coupon=5
settlment_date=date(2024,5,1)
accrued=accrued_interest(maturity_date,coupon,settlement=settlement_date)
display(f'Clean Price {95} Accrued Interest {accrued: .3f} Dirty Price {95+accrued: 3f}')

'Clean Price 95 Accrued Interest  1.470 Dirty Price  96.469780'

### <font color='green'>Create A Workbook</font>




<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1.   Use the iloc attribute of the bond_data DataFrame to create a DataFrame with the first ten roww.
2.   Use the <font color='green'>create_workbook</font> to create an Excel workbook.

In [7]:
first_ten_rows=bond_data.iloc[:10]
create_workbook('First Ten Rows',first_ten_rows,'Exercise Chapter Two.xlsx')

AttributeError: 'str' object has no attribute 'get'

### <font color='green'>Chapter Two Exercise</font>



<div style=
    border-left: 12px solid green;
    font-family: 'Garamond', serif;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px">
<br>


1.   Get fresh copy of bond_data from DropBox
1.   Use iloc to create the DataFrame <font color='green'>first_100_rows</font>
2.   Use the Pandas <font color='green'>apply</font> method to update the DataFrame with <font color='green'>accrured_interest function</font>.
3.   Create the Excel workbook <font color='green'>first_100_rows.xlsx</font>.

In [ ]:
import pandas as pd
import requests
url='https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/\
bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1'
bond_data = pd.read_excel(url, index_col='Maturity Date',sheet_name='Fidelity Data')
first_100_rows=bond_data.iloc[:100]
first_100_rows['Accrued'] = first_100_rows.apply(
    lambda row: accrued_interest(
        maturity=row.name,      # The row's index label (maturity date) is accessed via .name
        coupon=row['Coupon'],   # Access the 'Coupon' value from the row
        settlement=settlement_date   # Use the globally defined settlement date
    ), axis=1)

create_workbook('First Sheet',first_100_rows,'first_100_rows.xlsx')

✅ Successfully wrote and formatted sheet 'First Sheet' in 'first_100_rows.xlsx'

/tmp/ipython-input-595886530.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_100_rows['Accrued'] = first_100_rows.apply(