In [1]:
# Need to import NumPy
try:
    import numpy as np

# install if necessary
except:
    !pip -q install numpy
    import numpy as np

In [2]:
matrix_2_by_3=np.array([[1,10,5],
                        [2,102,25]])
display(matrix_2_by_3)

array([[  1,  10,   5],
       [  2, 102,  25]])

In [3]:
rank_matrix_2_by_3=np.linalg.matrix_rank(matrix_2_by_3)
display(rank_matrix_2_by_3)

2

In [4]:
from datetime import date
import requests, sys
from types import ModuleType
# Define the URL of the Python module to be downloaded from Dropbox.
# The 'dl=1' parameter in the URL forces a direct download of the file content.
url= 'https://www.dropbox.com/scl/fi/4y5hjxlfphh1ngvbgo77q/\
module_-basic_concepts_fixed_income.py?rlkey=6oxi7mgka42veaat79hcv8boz&st=87sztshr&dl=1'
module_name='basic_concepts_fixed_income'
# Send an HTTP GET request to the URL and store the server's response.
try:
  response=requests.get(url)
  # Raise an exception for bad status codes (like 404 Not Found)
  response.raise_for_status()
  module= ModuleType(module_name)
  #Code contained in response.text executed
  exec(response.text, module.__dict__)
  # Module added to sys
  sys.modules[module_name]=module
except requests.exceptions.RequestException as e:
    print(f"❌ Error: Could not fetch module from URL. {e}")
except Exception as e:
    print(f"❌ Error: Failed to execute or import the module. {e}")

# Now that 'basic_concepts_fixed_income' exists in the notebook, import the specific functions
from basic_concepts_fixed_income import (bond_pay_data,
                                         unique_pay_dates)

In [5]:
settlement=date(2025,1,21)
freq=2
maturity_dates=[date(2025,1,31),
               date(2027,7,31),
               date(2025,2,28),
               date(2025,8,31)]
annual_coupons=[2,0,4,5]

In [6]:
payment_data=[bond_pay_data(maturity,coupon,settlement=settlement,freq=freq)
              for maturity,coupon in zip(maturity_dates,annual_coupons)]

In [7]:
columns=unique_pay_dates(payment_data)
display(columns)

{datetime.date(2025, 1, 31): 0,
 datetime.date(2025, 2, 28): 1,
 datetime.date(2025, 9, 2): 2,
 datetime.date(2027, 8, 2): 3}

In [8]:
# Need to import Pandas
try:
    import pandas as pd

# install if necessary
except:
    !pip -q install pandas
    import pandas as pd

In [9]:
from basic_concepts_fixed_income import (create_payoff_matrix)

In [10]:
df_four_bonds=pd.DataFrame({'Coupon':annual_coupons},index=maturity_dates)

In [11]:
payoff_matrix=create_payoff_matrix(df_four_bonds,settlement=settlement,freq=freq)
payoff_matrix

(array([[101. ,   0. ,   0. ,   0. ],
        [  0. ,   0. ,   0. , 100. ],
        [  0. , 102. ,   0. ,   0. ],
        [  0. ,   2.5, 102.5,   0. ]]),
 [datetime.date(2025, 1, 31),
  datetime.date(2025, 2, 28),
  datetime.date(2025, 9, 2),
  datetime.date(2027, 8, 2)])

In [12]:
annual_coupons=[2,1,4,5]

In [13]:
payment_data=[bond_pay_data(maturity,coupon,settlement=settlement,freq=freq)
              for maturity,coupon in zip(maturity_dates,annual_coupons)]

In [14]:
columns=unique_pay_dates(payment_data)
display(columns)

{datetime.date(2025, 1, 31): 0,
 datetime.date(2025, 2, 28): 1,
 datetime.date(2025, 7, 31): 2,
 datetime.date(2025, 9, 2): 3,
 datetime.date(2026, 2, 2): 4,
 datetime.date(2026, 7, 31): 5,
 datetime.date(2027, 2, 1): 6,
 datetime.date(2027, 8, 2): 7}

In [15]:
#The full file path.
url='https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/\
bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1'
print(f"Attempting to load data from: {url}")

#Load the data from Excel, using the first column as the index.
try:
    bond_data_20 = pd.read_excel(url, index_col='Maturity Date',sheet_name='Fidelity Data')[:20]

except FileNotFoundError:
    print("\nERROR: File not found.")
    print("Please check that the 'folder' and 'file' variables are spelled correctly'\
' and that the file exists in that location.")

Attempting to load data from: https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1

In [16]:
settlement=date(2025,1,21)
freq=2
payoff_matrix_20=create_payoff_matrix(bond_data_20,settlement=settlement,freq=freq)

In [17]:
payoff_dict=dict(zip(payoff_matrix_20[1],payoff_matrix_20[0].T ))
pd.DataFrame(payoff_dict)

,2025-01-28,2025-01-30,2025-01-31,2025-02-04,2025-02-06,2025-02-11,2025-02-13,2025-02-18,2025-02-20,2025-02-25,2025-02-27,2025-02-28
0,100.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
1,0.0,100.0,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
2,0.0,0.0,100.6875,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
3,0.0,0.0,102.0625,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
4,0.0,0.0,101.2500,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
5,0.0,0.0,0.0000,100.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
6,0.0,0.0,0.0000,0.0,100.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0000
7,0.0,0.0,0.0000,0.0,0.0,100.0,0.0,0.0000,0.0,0.0,0.0,0.0000
8,0.0,0.0,0.0000,0.0,0.0,0.0,100.0,0.0000,0.0,0.0,0.0,0.0000
9,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,100.0000,0.0,0.0,0.0,0.0000
10,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,100.0000,0.0,0.0,0.0,0.0000
11,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,100.7500,0.0,0.0,0.0,0.0000
12,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,103.8125,0.0,0.0,0.0,0.0000
13,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,100.0000,0.0,0.0,0.0,0.0000
14,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,101.0000,0.0,0.0,0.0,0.0000
15,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,100.0000,0.0,0.0,0.0,0.0000
16,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0000,100.0,0.0,0.0,0.0000
17,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0,100.0,0.0,0.0000
18,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,100.0,0.0000
19,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,100.5625

In [18]:
from basic_concepts_fixed_income import(accrued_interest)
# apply the accrued_interest function to the DataFrame to populate a new column 'Accrued'
bond_data_20['Accrued'] = bond_data_20.apply(
    lambda x: accrued_interest(
        maturity=x.name, # Assuming index is maturity
        coupon=x['Coupon'],
        settlement=settlement,
        freq=2,
        day_type='Actual/Actual'
    ), axis=1
)

# The new column 'Transaction Prices' equals accrued interest plus the Bid/Ask average
bond_data_20['Transaction Prices']=(bond_data_20['Price Bid']+bond_data_20['Price Ask'])/2\
+bond_data_20['Accrued']
bond_data_20

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size,Accrued,Transaction Prices
Maturity Date,,,,,,,,
2025-01-28,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.929,99.930,100000.0,100000.0,0.000000,99.929500
2025-01-30,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.906,99.907,40000.0,40000.0,0.000000,99.906500
2025-01-31,UNITED STATES TREAS SER U-2025 1.3750...,1.375,99.921,99.934,60000.0,60000.0,0.650136,100.577636
2025-01-31,UNITED STATES TREAS SER AW-2025 4.1250...,4.125,99.988,99.997,60000.0,60000.0,1.950408,101.942908
2025-01-31,UNITED STATES TREAS SER G-2025 2.5000...,2.500,99.953,99.965,60000.0,60000.0,1.182065,101.141065
2025-02-04,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.847,99.848,10000.0,10000.0,0.000000,99.847500
2025-02-06,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.823,99.825,100000.0,100000.0,0.000000,99.824000
2025-02-11,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.765,99.766,100000.0,100000.0,0.000000,99.765500
2025-02-13,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.740,99.742,15000.0,15000.0,0.000000,99.741000
2025-02-15,U S TREAS SEC STRIPPED INT PMT 0.000...,0.000,99.730,99.751,5000.0,5000.0,0.000000,99.740500
2025-02-15,UNITED STATES TREAS BD STRIPP ZERO CPN 0.000...,0.000,99.594,99.935,9000.0,9000.0,0.000000,99.764500
2025-02-15,UNITED STATES TREAS SER AK-2025 1.5000...,1.500,99.800,99.809,60000.0,60000.0,0.648098,100.452598
2025-02-15,UNITED STATES TREAS BDS 7.62500% 02/15/2025,7.625,100.275,100.696,5600.0,5600.0,3.294497,103.779997
2025-02-15,U S TREAS NT STRIPPED PRIN PMT 0.000...,0.000,99.699,99.747,8000.0,8000.0,0.000000,99.723000
2025-02-15,UNITED STATES TREAS NTS NOTE 2.0000...,2.000,99.835,99.860,40000.0,40000.0,0.864130,100.711630
2025-02-18,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.682,99.683,99300.0,99300.0,0.000000,99.682500
2025-02-20,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.659,99.661,15000.0,15000.0,0.000000,99.660000
2025-02-25,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.600,99.604,10000.0,10000.0,0.000000,99.602000
2025-02-27,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.576,99.578,100000.0,100000.0,0.000000,99.577000
2025-02-28,UNITED STATES TREAS NOTE 1.12500% 02/28/2025,1.125,99.671,99.684,60000.0,60000.0,0.444406,100.121906

In [19]:
# Calculate transaction prices
transaction_prices=bond_data_20['Transaction Prices'].to_numpy()

# Estimate the present value factors with least squares
zero_prices_20,ss2_20,rank_20,colInfo__20=np.linalg.lstsq(payoff_matrix_20[0],transaction_prices)

# Maturity of the bonds in years
maturity_years=[(mat_date-settlement).days/365 for mat_date in payoff_matrix_20[1]]

# Continuously compounded annualized spot rates
spot_rates_20=-np.log(zero_prices_20)/np.array(maturity_years)

# Continuously compounded annualized forward rates
forward_rates_20=-np.diff(np.log(zero_prices_20))/np.diff(maturity_years)
forward_rates_20=np.insert(forward_rates_20,0,np.nan)

# Create a DataFrame of least squares present value estimates and display results
# First a dictionary
bonds_20={'Zero Pries: 20 Bonds':zero_prices_20,
          'Spot Rates: 20 Bonds':spot_rates_20,
          'Forward Rates: 20 Bonds':forward_rates_20}
# Then a DataFrame
df_20=pd.DataFrame(bonds_20,index=payoff_matrix_20[1])
display(df_20)

# Create a DataFrame of summary statistics and display results
# First a dictionary
summary_20={'Average Sum Squared Errors':ss2_20/len(bond_data_20),
             'Payoff Rank':rank_20,
             'Column Max Info':np.max(colInfo__20),
             'Column Min Info':np.min(colInfo__20)}

df_summary_20=pd.DataFrame(summary_20,index=['Summary Statistics']).T
display(df_summary_20)

/tmp/ipykernel_14797/3914354401.py:5: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  zero_prices_20,ss2_20,rank_20,colInfo__20=np.linalg.lstsq(payoff_matrix_20[0],transaction_prices)

,Zero Pries: 20 Bonds,Spot Rates: 20 Bonds,Forward Rates: 20 Bonds
2025-01-28,0.999295,0.036774,NaN
2025-01-30,0.999065,0.037937,0.042009
2025-01-31,0.998887,0.040659,0.065156
2025-02-04,0.998475,0.039789,0.037615
2025-02-06,0.998240,0.040185,0.042958
2025-02-11,0.997655,0.040806,0.042793
2025-02-13,0.997410,0.041155,0.044823
2025-02-18,0.997590,0.031453,-0.013180
2025-02-20,0.996600,0.041437,0.181220
2025-02-25,0.996020,0.041589,0.042497
2025-02-27,0.995770,0.041817,0.045813
2025-02-28,0.995619,0.042176,0.055461

                            Summary Statistics
Average Sum Squared Errors            0.002998
Payoff Rank                          12.000000
Column Max Info                     266.699452
Column Min Info                     100.000000

In [20]:
#The full file path.
url='https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/\
bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1'
print(f"Attempting to load data from: {url}")

#Load the data from Excel, using the first column as the index.
try:
    bond_data = pd.read_excel(url, index_col='Maturity Date',sheet_name='Fidelity Data')


except FileNotFoundError:
    print("\nERROR: File not found.")
    print("Please check that the 'folder' and 'file' variables are spelled correctly'\
' and that the file exists in that location.")

Attempting to load data from: https://www.dropbox.com/scl/fi/lgnaj41bt8o9sv5a63rr1/bond_data_jan21_2025.xlsx?rlkey=twjzkcqo0g2ahvot78518ti4x&st=ihc5feog&dl=1

In [21]:
display(bond_data)

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size
Maturity Date,,,,,,
2025-01-28,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.929,99.930,100000.0,100000.0
2025-01-30,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.906,99.907,40000.0,40000.0
2025-01-31,UNITED STATES TREAS SER U-2025 1.3750...,1.375,99.921,99.934,60000.0,60000.0
2025-01-31,UNITED STATES TREAS SER AW-2025 4.1250...,4.125,99.988,99.997,60000.0,60000.0
2025-01-31,UNITED STATES TREAS SER G-2025 2.5000...,2.500,99.953,99.965,60000.0,60000.0
...,...,...,...,...,...,...
2029-11-30,UNITED STATES TREAS SER AG-2029 4.1250...,4.125,98.910,98.914,100000.0,100000.0
2029-11-30,UNITED STATES TREAS SER S-2029 3.8750...,3.875,97.763,97.782,40000.0,40000.0
2029-12-31,UNITED STATES TREAS SER T-2029 3.8750...,3.875,97.734,97.738,65000.0,65000.0
2029-12-31,UNITED STATES TREAS SER AH-2029 4.3750...,4.375,99.988,99.989,7000.0,7000.0
2030-01-31,UNITED STATES TREAS SER G-2030 3.5000...,3.500,95.994,96.011,16000.0,16000.0

In [22]:
from basic_concepts_fixed_income import (accrued_interest)
bond_data['Accrued'] = bond_data.apply(
    lambda x: accrued_interest(
        maturity=x.name, # Assuming index is maturity
        coupon=x['Coupon'],
        settlement=settlement,
        freq=2,
        day_type='Actual/Actual'
    ), axis=1
)
bond_data['Transaction Prices']=(bond_data['Price Bid']+bond_data['Price Ask'])/2\
+bond_data['Accrued']
transaction_prices=bond_data['Transaction Prices'].to_numpy()

In [23]:
display(bond_data)

,Description,Coupon,Price Bid,Price Ask,Bid Size,Ask Size,Accrued,Transaction Prices
Maturity Date,,,,,,,,
2025-01-28,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.929,99.930,100000.0,100000.0,0.000000,99.929500
2025-01-30,UNITED STATES TREAS BILLS ZERO CPN 0.000...,0.000,99.906,99.907,40000.0,40000.0,0.000000,99.906500
2025-01-31,UNITED STATES TREAS SER U-2025 1.3750...,1.375,99.921,99.934,60000.0,60000.0,0.650136,100.577636
2025-01-31,UNITED STATES TREAS SER AW-2025 4.1250...,4.125,99.988,99.997,60000.0,60000.0,1.950408,101.942908
2025-01-31,UNITED STATES TREAS SER G-2025 2.5000...,2.500,99.953,99.965,60000.0,60000.0,1.182065,101.141065
...,...,...,...,...,...,...,...,...
2029-11-30,UNITED STATES TREAS SER AG-2029 4.1250...,4.125,98.910,98.914,100000.0,100000.0,0.589286,99.501286
2029-11-30,UNITED STATES TREAS SER S-2029 3.8750...,3.875,97.763,97.782,40000.0,40000.0,0.553571,98.326071
2029-12-31,UNITED STATES TREAS SER T-2029 3.8750...,3.875,97.734,97.738,65000.0,65000.0,0.234203,97.970203
2029-12-31,UNITED STATES TREAS SER AH-2029 4.3750...,4.375,99.988,99.989,7000.0,7000.0,0.264423,100.252923
2030-01-31,UNITED STATES TREAS SER G-2030 3.5000...,3.500,95.994,96.011,16000.0,16000.0,1.654891,97.657391

In [24]:
payoffs_304,column_dates_304=create_payoff_matrix(bond_data,settlement=settlement,freq=freq)

In [25]:
payoffs_304,column_dates_304[:5]

(array([[100.    ,   0.    ,   0.    , ...,   0.    ,   0.    ,   0.    ],
        [  0.    , 100.    ,   0.    , ...,   0.    ,   0.    ,   0.    ],
        [  0.    ,   0.    , 100.6875, ...,   0.    ,   0.    ,   0.    ],
        ...,
        [  0.    ,   0.    ,   0.    , ...,   0.    , 101.9375,   0.    ],
        [  0.    ,   0.    ,   0.    , ...,   0.    , 102.1875,   0.    ],
        [  0.    ,   0.    ,   1.75  , ...,   0.    ,   0.    , 101.75  ]]),
 [datetime.date(2025, 1, 28),
  datetime.date(2025, 1, 30),
  datetime.date(2025, 1, 31),
  datetime.date(2025, 2, 4),
  datetime.date(2025, 2, 6)])

In [26]:
zero_prices_304,ss2_304,rank_304,colInfo_304=np.linalg.lstsq(payoffs_304,transaction_prices)
summary_304={'Average Sum Squared Errors':ss2_304/len(bond_data),
             'Payoff Rank':rank_304,
             'Column Max Info':np.max(colInfo_304),
             'Column Min Info':np.min(colInfo_304)}
# Then a DataFrame
df_summary_304=pd.DataFrame(summary_304,index=['Summary Statistics']).T
display(df_summary_304)

/tmp/ipykernel_14797/1747160826.py:1: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  zero_prices_304,ss2_304,rank_304,colInfo_304=np.linalg.lstsq(payoffs_304,transaction_prices)

                            Summary Statistics
Average Sum Squared Errors            0.011753
Payoff Rank                         149.000000
Column Max Info                     267.431046
Column Min Info                     100.000000

In [27]:
start_end_dates=[date(2025,1,28),date(2026,2,2),
                 date(2027,2,1),date(2028,1,31),
                 date(2030,1,31)]
df_zero_prices=pd.DataFrame({'Zero Prices: 304':zero_prices_304},
                            index=column_dates_304).loc[start_end_dates]

In [28]:
maturity_years=[(mat_date-settlement).days/365.25 for mat_date in df_zero_prices.index]
forward_rates=-np.diff(np.log(df_zero_prices['Zero Prices: 304']))/np.diff(maturity_years)
forward_rates=np.insert(forward_rates,0,np.nan)
df_zero_prices['Forward Rates']=forward_rates
df_zero_prices

            Zero Prices: 304  Forward Rates
2025-01-28          0.999295            NaN
2026-02-02          0.957622       0.042050
2027-02-01          0.917992       0.042410
2028-01-31          0.879001       0.043551
2030-01-31          0.803448       0.044906